i {
    font-size: 10em;
    padding: .25em;
    color: #ffafcc;
}

.rotating{
    animation: rotate-inner 1s;
}

@keyframes rotate-inner{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-90deg);
	}
}